{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} {% endblock %}

{% block content %}
    <table>
        {% for casestudy in casestudies %}
        <tr><td>
	{{ casestudy.picture }}
        {% thumbnail casestudy.picture "200x200" crop="center" as pic %}
        <img src="{{ pic.url }}" width="{{ pic.width}}" height="{{ pic.height }}" />
        {% end thumbnail%}
        <h2>{{ casestudy.title }}</h2>
        <p>{{casestudy.description }}</p>
        </td></tr>
    {% endfor %}
    </table>
{% endblock %}
